# Dictionary
## Dictionary in Python
First of all, what is dictionary? Well, it is a book about words, and if you search a word in a dictionary, you can find its meaning.<br>
Dictionary in Python is just like a dictionary. See the following code.
```python
fruitDict={
    "apple":"Red, and sweet fruit.",
    "orange":"Sweet and a little sour fruit. Its color is orange.",
    "peach":"Pink, and sweet fruit."
}
print(fruitDict)
```

In [19]:
fruitDict={
    "apple":"Red, and sweet fruit.",
    "orange":"Sweet and a little sour fruit. Its color is orange.",
    "peach":"Pink, and sweet fruit."
}
print(fruitDict)

{'apple': 'Red, and sweet fruit.', 'orange': 'Sweet and a little sour fruit. Its color is orange.', 'peach': 'Pink, and sweet fruit.'}

Ok, now I can make a dictionary about a fruit.<br>
You can search a word by using brackets.
```python
print(fruitDict["apple"])
```

In [20]:
print(fruitDict["apple"])

Red, and sweet fruit.

Use ```in``` to check if the word is included in the dictionary.
```python
print("apple" in fruitDict)
print("banana" in fruitDict)
```

In [21]:
print("apple" in fruitDict)
print("banana" in fruitDict)

True
False

Just write ```fruitDict["banana"]="......"``` to add explanation of banana.

In [22]:
fruitDict["banana"]="A yellow fruit.(It is sometimes recognized as a vegetable)"

Now the explanation about banana is saved in the dictionary.
```python
print(fruitDict)
```

In [23]:
print(fruitDict)

{'apple': 'Red, and sweet fruit.', 'orange': 'Sweet and a little sour fruit. Its color is orange.', 'peach': 'Pink, and sweet fruit.', 'banana': 'A yellow fruit.(It is sometimes recognized as a vegetable)'}

The key-word and explanation does not need to be a string. It can be a number or other objects.
```python
num_str={1:"Hello", 4:"Bye", 5:"Ok"}
print(num_str)
print(num_str[4])
print(3 in num_str)
num_str[3]="Yes"
print(num_str)

num_num={1:2, 4:6, 7:8}
print(num_num)
print(num_num[4])
print(3 in num_num)
num_num[3]=0
print(num_num)
```

In [24]:
num_str={1:"Hello", 4:"Bye", 5:"Ok"}
print(num_str)
print(num_str[4])
print(3 in num_str)
num_str[3]="Yes"
print(num_str)

{1: 'Hello', 4: 'Bye', 5: 'Ok'}
Bye
False
{1: 'Hello', 4: 'Bye', 5: 'Ok', 3: 'Yes'}

In [25]:
num_num={1:2, 4:6, 7:8}
print(num_num)
print(num_num[4])
print(3 in num_num)
num_num[3]=0
print(num_num)

{1: 2, 4: 6, 7: 8}
6
False
{1: 2, 4: 6, 7: 8, 3: 0}

# Pandas
## Reading a Table
Table is of course, one of the ways to visualize data. Some data are saved as table-like data, and python has a way of reading and processing them. <br>
I created a sample data shown below and saved as csv.

|name|gender|sleepingTime|
|-|-|-|
|Alice|F|8|
|Bob|M|6|
|Isabella|F|7.5|
|Olivia|F|6.5|
|Arthur|M|7|
|Owen|M|7.5|

Reading tablelike-data requires library called **pandas**. Import this library as pd.
```python
import pandas as pd
```

In [50]:
import pandas as pd

Csv-file can be read using ```pandas.read_csv(filename)```. ```filename``` can be both relative path or absolute path.
```python
sleeptime=pd.read_csv("TimeOfSleep.csv")
```

In [51]:
sleeptime=pd.read_csv("TimeOfSleep.csv")

Print ```sleeptime```.
```python
print(sleeptime)
```

In [52]:
print(sleeptime)

       name gender  sleepingTime
0     Alice      F           8.0
1       Bob      M           6.0
2  Isabella      F           7.5
3    Olivia      F           6.5
4    Arthur      M           7.0
5      Owen      M           7.5

If you are using jupyter-notebook or google-colab, you may abbreviate ```print``` and just run ```sleeptime```.
```python
sleeptime
```

In [53]:
sleeptime

       name gender  sleepingTime
0     Alice      F           8.0
1       Bob      M           6.0
2  Isabella      F           7.5
3    Olivia      F           6.5
4    Arthur      M           7.0
5      Owen      M           7.5

A nice-looking table has been output.<br>
We'll work on this data and explore the features of pandas!<br>
<br>
## Retrieve columns using Brackets
First thing to do is to retrieve specific column from this table.<br>
```pandas``` works just like dictionary. See the follwing code.
```python
print(sleeptime["name"])
```
This code will retrieve "name" column from ```sleeptime```.

In [54]:
print(sleeptime["name"])

0       Alice
1         Bob
2    Isabella
3      Olivia
4      Arthur
5        Owen
Name: name, dtype: object

When you want to retrieve two or more columns from pandas data(it is called dataframe), just put the list of columns' name inside the bracket.
```python
searchfor=["name","gender"]
print(sleeptime[searchfor])
```

In [55]:
searchfor=["name","gender"]
print(sleeptime[searchfor])

       name gender
0     Alice      F
1       Bob      M
2  Isabella      F
3    Olivia      F
4    Arthur      M
5      Owen      M

## Retrieve rows and colums using ```.loc```
When you want to retrieve rows, you need to use ```.loc```. <br>
Using ```.loc```, you can specify row and column to retrieve.<br>
Check out for the sample code below.
```python
print(sleeptime.loc[1,"name"])
print("*****")
print(sleeptime.loc[1:4,"name"])
print("*****")
print(sleeptime.loc[:, "name"])

print(sleeptime.loc[1,searchfor])
print("*****")
print(sleeptime.loc[1:4,searchfor])
print("*****")
print(sleeptime.loc[:, searchfor])
```

In [56]:
print(sleeptime.loc[1,"name"])
print("*****")
print(sleeptime.loc[1:4,"name"])
print("*****")
print(sleeptime.loc[:, "name"])

Bob
*****
1         Bob
2    Isabella
3      Olivia
4      Arthur
Name: name, dtype: object
*****
0       Alice
1         Bob
2    Isabella
3      Olivia
4      Arthur
5        Owen
Name: name, dtype: object

In [57]:
print(sleeptime.loc[1,searchfor])
print("*****")
print(sleeptime.loc[1:4,searchfor])
print("*****")
print(sleeptime.loc[:, searchfor])

name      Bob
gender      M
Name: 1, dtype: object
*****
       name gender
1       Bob      M
2  Isabella      F
3    Olivia      F
4    Arthur      M
*****
       name gender
0     Alice      F
1       Bob      M
2  Isabella      F
3    Olivia      F
4    Arthur      M
5      Owen      M

## Query-search
```.query(condition)``` can search data that suits ```condition```.<br>
In the following example, the query function searches for a row that suits ```sleepingTime <= 7```
```python
sleeptime.query("sleepingTime <= 7")
```

In [65]:
sleeptime.query("sleepingTime <= 7")

     name gender  sleepingTime
1     Bob      M           6.0
3  Olivia      F           6.5
4  Arthur      M           7.0

Next thing to do is conditioning according to gender.<br>
In the following code, query function searches for data about male.<br>
Note that you are not allowed to write ```"gender==M"``` nor ```"gender=="M""```. The correct way is ```"gender=='M'"```.
```python
sleeptime.query("gender=='M'")
```

In [67]:
sleeptime.query("gender=='M'")

     name gender  sleepingTime
1     Bob      M           6.0
4  Arthur      M           7.0
5    Owen      M           7.5

You can use ```and```, ```or``` ket word just like in if-statement.
```python
print(sleeptime.query("sleepingTime<=7 or gender=='M'"))

print(sleeptime.query("sleepingTime<=7 and gender=='M'"))
```

In [68]:
print(sleeptime.query("sleepingTime<=7 or gender=='M'"))

     name gender  sleepingTime
1     Bob      M           6.0
3  Olivia      F           6.5
4  Arthur      M           7.0
5    Owen      M           7.5

In [69]:
print(sleeptime.query("sleepingTime<=7 and gender=='M'"))

     name gender  sleepingTime
1     Bob      M           6.0
4  Arthur      M           7.0