# Quiz1
This is a Quiz. Please write a suitable program according to the instructions. You may see the tutorials or search on the Internet.

Create a variable called ```original``` and initialize it with whatever value you choose. (e.g. -321012.34)

Print **"The value inside original is ○○"**.<br>
When printing, concatenate the string "The value inside original is " and ```original```. Note that in order to concatenate string and float, you must firstly convert ```original``` to string.<br>
(Results will be like→The value inside original is -321012.34)

Next, write if-else statement.  
```python
if(CONDITION):
    #Create the variable called "number" and initialize it with original
else:
    #Create the variable called "number" and initialize it with -original
```
>Repleace CONDITION with the program meaning "Is original a positive value?".  
>Repleace "#Create the variable......" with the code.

Print the ```number```. It must be bigger than or equal to 0.<br>
(Results will be like→321012.34)

Next, overwrite ```number``` with \"```number``` rounded down to the nearest decimal\".<br>
This can be done by casting float to integer. (Just like you cast string to integer)

Print the number. It must be rounded down to the nearest decimal<br>
(Results will be like→321012)

Print the type of ```number```. It must be <class 'int'>.

Next, overwrite number with "```number```\'s last three digits", and print it.  
This can be done by calculating the reminder of number÷1000.  <br>
(Results will be like→12)

Next, write if statement.  
```python
if(CONDITION):
    #Add 100 to number
```
>Repleace CONDITION with the program meaning "is the ```number``` less than 100?".  
>Repleace "#Add 100 to number" with the code.

Print the number.<br>
(Results will be like→112)

Create a **string variable** called ```text``` and initialize it with ```number```. Remember to cast int to string.

Print the type of ```text```. It must be <class 'str'>.

Create a **string variable** called ```text2``` and initialize it with ```text*2```. Print ```text2```.<br>
(Results will be like→112112)

Create an **integer variable** called ```number2``` and initialize it with ```text2```. Remember to cast string to int.  
After that, print the type of ```number2```. The result must be <class 'int'>

Divide and assign ```number2``` with 7 and print it.<br>
(Results will be like→16016.0)

Divide and assign ```number2``` with 11 and print it.<br>
(Results will be like→1456.0)

Divide and assign ```number2``` with 13 and print it.<br>
(Results will be like→112)

Finally, run the following code.
```python
print(number==number2)
```
If "True" is printed, you are all done!