# List
## Fundamentals of List
List is like sequence of variables. List can be created by putting \[\] around data.  
Here are the examples of creating "lists". First one creates the empty list. Second one creates the list that contains 3 integers. Third one creates the list of 3 strings, and forth one creates the list that contains integer, string, and float.
```python
list1=[]
list2=[1,2,3]
list3=["Apple", "Peach", "Orange"]
list4=[1, "Apple", 3.14]
```

In [24]:
list1=[]
list2=[1,2,3]
list3=["Apple", "Peach", "Orange"]
list4=[1, "Apple", 3.14]

Let's check the type of these lists by
```python
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
```

In [25]:
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

Ok, now you can know that list1, 2, 3 and 4 are \"lists\".<br>
<br>
Print the elements by writing ```print(list1)```, ```print(list2)```, ```print(list3)```

In [26]:
print(list1)
print(list2)
print(list3)
print(list4)

[]
[1, 2, 3]
['Apple', 'Peach', 'Orange']
[1, 'Apple', 3.14]

Everything inside the list will be printed.<br>
<br>
Next, we will try to get the single datum from list. You can get the N-th datum inside the list by writing [N-1] just after the name of list.  
For example, ```list2``` has three elements (which are 1,2, and 3). If you want to know what the first value inside list2 is, you can write ```list2[0]```.<br>
Run the following code.
```python
print(list2[0])
print(list2[1])
print(list2[2])
```

In [27]:
print(list2[0])
print(list2[1])
print(list2[2])

1
2
3

You can see that [0] refers first element, [1] refers second, and third refers the third.<br>
Then, guess what will happen if you try to get the forth data from list1.
```python
print(list2[3])
```

In [28]:
print(list2[3])

IndexError: list index out of range

As you see, the error is thrown. **Be careful when you use list**. I think one of the most common error message is \"list index out of range\"
<br>
<br>
#### Topics \"What will happen when you request index that is not in the list?\"
In python, you will see the message \"IndexError: list index out of range\", but what will happen in other languages?  
<br>
In java, when you run the following code......
```java
public class MainClass { 
    public static void main(String[] args) 
    { 
        int myarray[] = { 1, 2, 3 }; 
        System.out.println(myarray[3]); //0 to 2 is the valid index. 
    } 
}
```
You get the following error message<br>
```
Exception in thread "main" java.lang.IndexOutOfBoundsException: Index: 3, Size: 3
    at java.util.ArrayList.rangeCheck(ArrayList.java:653)
    at java.util.ArrayList.get(ArrayList.java:429)
    at MainClass.main(MainClass.java:7)
```
Wow! what a long error message!!  
Actually, java is famous for long error message! It is said that java programmers should buy a portrait display to read the long long error message(LOL).
<br>
<br>
In C, what will happen?
```C
#include <stdio.h>
int main(void){
    int myarray[3]={1,2,3};
    printf("%d\n", myarray[3]); //0 to 2 is the valid index. 
}
```
You **will NOT** get the error message, and some value will be printed!!<br>
OUTPUT(example) : 0  
<br>
What is happening??  
Actually, in C language, list does not know its own length, so it cannot throw exception. Instead, it will access to a data stored next in the memory. It may be a useless data, but if you access to some important data and overwrite it with other value...... your computer may be broken!
<br><br>

Back to python......!<br>
You can overwrite the data inside the list. Run the following code.
```python
print(list2)
list2[0]=10
print(list2)
```

In [29]:
print(list2)
list2[0]=10
print(list2)

[1, 2, 3]
[10, 2, 3]

The data inside list2 is overwrited.

len() returns the length of list. Write the following code.
```python
print(len(list1))
print(len(list2))
print(len(list3))
```

In [30]:
print(len(list1))
print(len(list2))
print(len(list3))

0
3
3

Next topic is the operations for list. List can be +(cancatenate) and \*(duplicate and concatenate), like string.
```python
list4 = list1*2+list2+list3
print(list4)
```

In [31]:
print(list2)
print(list3)
print(list4)
list5 = list2+list3*2+list4
print(list5)

[10, 2, 3]
['Apple', 'Peach', 'Orange']
[1, 'Apple', 3.14]
[10, 2, 3, 'Apple', 'Peach', 'Orange', 'Apple', 'Peach', 'Orange', 1, 'Apple', 3.14]

New list called ```list5``` is created, and initialized by the ruselting list.  
```list2+list3*2+list4``` is the concatenation of list2(10, 2, 3), two list3('Apple', 'Peach', 'Orange'), and list4(1, 'Apple', 3.14), the all these values are stored inside list5.  
You can also use add assign(+=) and multiply assign(\*=) as well.

In [32]:
list5+=["I", "like", "dogs"]
print(list5)

[10, 2, 3, 'Apple', 'Peach', 'Orange', 'Apple', 'Peach', 'Orange', 1, 'Apple', 3.14, 'I', 'like', 'dogs']

## in operator
```in``` can tell us whether a certain value is included in the list. Here is an example.
```python
print("3.14" in list5)
print("Orange" in list5)
print("Happy" in list5)
```

In [33]:
print(3 in list5)
print("Orange" in list5)
print("Happy" in list5)

True
True
False

## Deep Copy and Shallow Copy
First, run the following code.
```python
original=[1,2,3,4,5]
test1=original
test2=original+[]
test3=original.copy()

print("original:" + str(original))
print("test1:" + str(test1))
print("test2:" + str(test2))
print("test3:" + str(test3))
```

In [34]:
original=[1,2,3,4,5]
test1=original
test2=original+[]
test3=original.copy()

In [35]:
print("original:" + str(original))
print("test1:" + str(test1))
print("test2:" + str(test2))
print("test3:" + str(test3))

original:[1, 2, 3, 4, 5]
test1:[1, 2, 3, 4, 5]
test2:[1, 2, 3, 4, 5]
test3:[1, 2, 3, 4, 5]

All operations seem working in the same way, but actually there is a big difference.  
Guess what will happen in the next code.
```python
test1[0]=10
test2[0]=20
test3[0]=30

print("original:" + str(original))
print("test1:" + str(test1))
print("test2:" + str(test2))
print("test3:" + str(test3))
```

In [36]:
test1[0]=10
test2[0]=20
test3[0]=30

In [37]:
print("original:" + str(original))
print("test1:" + str(test1))
print("test2:" + str(test2))
print("test3:" + str(test3))

original:[10, 2, 3, 4, 5]
test1:[10, 2, 3, 4, 5]
test2:[20, 2, 3, 4, 5]
test3:[30, 2, 3, 4, 5]

You can see that the changes in the test1 affects to the original data.  
Actually, when you write ```test1=original```, test1 becomes the \"nickname\" of the original list. It is not the copy of the original, so the operation to test1 is directly affected to original data. This way of copying(creating a nickname) is called \"Shallow Copy\".<br>
```test2=original+[]``` and ```test3=original.copy()``` can copy the data inside the original list and creates another indivisial list, so the changes in test2 or test3 does not affect the original list. This way of copying(creating a new indivisual object) is called \"Deep Copy\".<br>

## Creating a Slice
You may want to retrieve certain length of data inside a long data, then what you need is slice.
In the following example, I create 4 slices. What will happle? Check it out!
```python
longdata=[0,1,2,3,4,5,6,7,8,9,10]
slice1=longdata[4:7]
slice2=longdata[7:]
slice3=longdata[:2]
slice4=longdata[::2]

print(slice1)
print(slice2)
print(slice3)
print(slice4)
```

In [5]:
longdata=[0,1,2,3,4,5,6,7,8,9,10]
slice1=longdata[4:7]
slice2=longdata[7:]
slice3=longdata[:2]
slice4=longdata[::2]

In [6]:
print(slice1)
print(slice2)
print(slice3)
print(slice4)

[4, 5, 6]
[7, 8, 9, 10]
[0, 1]
[0, 2, 4, 6, 8, 10]

As you see, creating a roi can be done by writing ```[S:E(:step)]```, which means ROI that starts from ```S```, ends **before** ```E```, and has a step of ```step```.<br>
<br>
Slices works like a deep copy, so the changes in slice will not affect to the original data.
```python
print(longdata)
slice4[2]=0
print(longdata)
```

In [7]:
print(longdata)
slice4[2]=0
print(longdata)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Many More Operations about List.
There are many other operations about lists. I'll list up the commands, but you do not need to memorize them for now. You can just see this tutorial when you needed.<br>
>```.append(data)``` can add ```data``` to the end of the list.  
>```.insert(N, data)``` can add ```data``` to the index ```N``` of the list.  
>```.pop(N)``` can delete data in the index N of the list.  
>```.clear()``` can delete all the in the list.
```python
list6=["Apple", "Banana", "Orange", "Peach"]
print(list6)
list6.append("Grapes")
print(list6)
list6.insert(3, "Melon")
print(list6)
list6.pop(4)
print(list6)
list6.clear()
print(list6)
```

In [41]:
list6=["Apple", "Banana", "Orange", "Peach"]
print(list6)
list6.append("Grapes")
print(list6)
list6.insert(3, "Melon")
print(list6)
list6.pop(4)
print(list6)
list6.clear()
print(list6)

['Apple', 'Banana', 'Orange', 'Peach']
['Apple', 'Banana', 'Orange', 'Peach', 'Grapes']
['Apple', 'Banana', 'Orange', 'Melon', 'Peach', 'Grapes']
['Apple', 'Banana', 'Orange', 'Melon', 'Grapes']
[]

>```.index(data)``` finds the first element which is equal to ```data``` and return that index.  
>```.remove(data)``` finds the first element which is equal to ```data``` and deletes that data.  
>```.sort()``` can sort the data in the list.  
>```.reverse()``` can reverse the data.  
```python
list6=[1,2,5,4,3,5]
print(list6)
print(list6.index(5))
list6.remove(5)
print(list6)
list6.sort()
print(list6)
list6.reverse()
print(list6)
```

In [42]:
list6=[1,2,5,4,3,5]
print(list6)
print(list6.index(5))
list6.remove(5)
print(list6)
list6.sort()
print(list6)
list6.reverse()
print(list6)

[1, 2, 5, 4, 3, 5]
2
[1, 2, 4, 3, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## Touple
Touples works like lists. The only difference is that it cannot change after the initiation.  
Touples can be initialize by putting () around the data. Here are some examples.
```python
touple1=(1,2,3)
touple2=("Good Morning", "Hello", "Good Night")
touple3=(3, 3.14, "PI")

print(touple1[0])
print(touple1[1])
print(touple1[2])
```

In [43]:
touple1=(1,2,3)
touple2=("Good Morning", "Hello", "Good Night")
touple3=(3, 3.14, "PI")

In [44]:
print(touple1[0])
print(touple1[1])
print(touple1[2])

1
2
3

Do not try to overwrite the value inside touple. It'll throw an error.
```python
touple1[0]=10
```

In [45]:
touple1[0]=10

TypeError: 'tuple' object does not support item assignment

You can convert touple to list by ```list()```

In [46]:
print(type(touple1))
list1=list(touple1)
print(type(list1))

<class 'tuple'>
<class 'list'>